/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
    font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
    color: #ffffff;
    font-family: 'Cormorant', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: maroon;
    padding: 0 0.3rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
    padding-left: 5.2px;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}


.active {
    border-bottom: 1px solid #ffffff;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #800000;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
     background-color: #491616;
    /* Make main elemnt take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-karol-wisniewski-279026-851646.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(117, 3, 3, 0.6);
    font-size: 130%;
    position: absolute;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    bottom: 100px;
    text-align: center;
}

#whatwas {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p1, #p3, #p4 {
    padding-top: 10px;
}

#map {
    width: 100%;
    padding-right: 5px;
    padding-top: 10px;
}

#romansoldier {
    width: 100%;
    padding-right: 5px;
    padding-top: 10px;
}

#chariot {
    width: 100%;
    padding-right: 5px;
    padding-top: 10px;
}

/* Timeline */

#backgroundimage {
    background-image: url("../images/pexels-karol-wisniewski-279026-851646.jpg");
    background-size: cover;
    background-position: 50%;
    flex-grow: 1;
}

#heading > h2 {
    text-align: center;
    font-size: 150%;
    margin: 50px 20%;
    background-color: rgba(117, 3, 3, 0.6);
}

.timeline {
    max-width: 1200px;
    margin-top: 30px;
    position: relative;
    padding: 10px;
    background-color: rgba(117, 3, 3, 0.6);
    margin: 0 3em 2em;
}

.container {
    position: relative;
    padding: 10px 20px 0 30px;
    width: 100%;
}

.content {
    background: rgba(36, 36, 32, 0.8);
    border-radius: 6px;
    padding: 5px;
    position: relative;
}

.content > h2 {
    text-transform: none;
}

.content > p {
    padding-top: 5px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: gold;
    top: 0;
    bottom: 0;
    left: 20px;
    margin-left: -3px;
  }

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid slategray;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    left: -6px;
}

/* Newsletter */

#newsletter {
    display: flex;
    flex-direction: column;
}

#signup {
    background-image: url("../images/pexels-karol-wisniewski-279026-851646.jpg");
    background-size: cover;
    padding: 20px 10% 10% 10%;
    flex-grow: 1;
    height: 70%;
}

#signup-form {
    background-color: rgba(117, 3, 3, 0.6);
    padding: 20px;
    padding-bottom: 25%;
}

#signup-form > h2 {
    text-align: center;
    padding: 40% 0 50% 0;
}

#signup-form > h3 {
    text-align: center;
    padding-bottom: 50%;
}

#signup-form > label {
    font-size: 20px;
}

.text-input {
    width: 100%;
    border-radius: 5px;
    height: 35px;
}

.join-button {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 100%;
    margin-top: 10px;
    background-color: rgb(192, 173, 62);
    text-transform: uppercase;
    width: 100%;
}

/* Footer */
footer {
    background-color: maroon;
}
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media query: larger phones and larger (375px and up) */
@media screen and (min-width: 380px) {

    #logo {
        padding: 0 1.4rem;
    }

    main {
        margin-top: 40px;
    }

    #cover-text {
        font-size: 160%;
        bottom: 75px;
    }

    #whatwas {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 0px 10px;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        padding: 0 0.8rem;
    }

    main {
        margin-top: 77px;
    }

    #cover-text {
        width: 390px;
        right: 20px;
        font-size: 150%;
        bottom: 50px;
    }

    #whatwas {
        padding-bottom: 30px;
    }

    h3 {
        font-size: 200%;
        text-align: center;
        padding-top: 30px;
    }

    #p1 {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-right: 10px;
    }

    #p2 {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }
    #map {
        order: 0;
        width: 50%;
    }

    #romansoldier {
        width: 50%;
    }

    #p3, #p4{
        padding-top: 30px;
    }

    #chariot {
        padding-top: 30px;
    }

    /* Timeline */

    .container {
        width: 50%;
        padding: 0px 40px;
    }

    .timeline::after {
        left: 50%;
    }

    .left {
        left: 0;
    }

    .right {
        left: 50%;
    }

    .left::after {
        left: 95.5%;
    }

    .right::after {
        left: -17px;
    }

    #heading {
        font-size: 200%;
    }

    /* Newsletter */

    #signup {
        padding: 10%;
    }

    #signup-form {
        padding: 0 10%;
        padding-bottom: 10%;
    }

    #signup-form > h2 {
        padding: 10% 20% 10% 20%;
        font-size: 250%;
    }

    #signup-form > h3 {
        padding-bottom: 10%;
    }

    .text-input {
        width: 74%;
        height: 39px;
        border-radius: 0;
    }

    .join-button {
        width: 25%;
        font-size: 15px;
        padding: 10px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #ffffff;
    }

    #cover-text {
        font-size: 300%;
        bottom: 3em;
        right: 20px;
        width: 45rem;
    }

    #whatwas {
        padding-left: 100px;
        padding-right: 100px;
    }

    /* Timeline */

    .left::after {
        left: 97%;
    }
}

/* Larger devices (laptops, desktops and monitors 1440px and up) */
@media screen and (min-width: 1440px) {
    .timeline {
        max-width: 2000px;
        padding-left: 75px;
        padding-right: 75px;
        margin: 0 10% 5%;
    }

    #signup {
        padding: 15%;
    }
}

/* 4k (2490px and up) */
@media screen and (min-width: 2490px) {
    .timeline {
        max-width: 2500px;
        padding-left: 25%;
        padding-right: 25%;
    }

    #signup {
        padding: 20%;
    }
}